{% extends 'base_site.html' %}
{% load i18n pages_tags pages_widget_tags %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% block main_content %}{% endblock main_content %}
      </div>
      <div class="col-lg-4">
        {% block sidebar_content %}
          {% popular_pages "Popular" %}
          {% category_list "Category" %}
          {% tags_list "Tags" %}
        {% endblock sidebar_content %}
      </div>
    </div>
  </div>
{% endblock content %}
