<footer class="mt-5 py-5 bg-light">
  <div class="container">
    <div class="row small">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="text-muted">© 2019 - 2022 - <a class="link-secondary" href="https://www.rizkisasri.com">Rizki Sasri Dwitama</a></div>
      </div>
      <div class="col-lg-6">
        <ul class="nav list-unstyled justify-content-center justify-content-md-end d-flex">
          <li class="">
            <a class="btn-icon btn-icon-46px link-secondary" href="#">
              <i class="mdi mdi-24px mdi-twitter"></i>
            </a>
          </li>
          <li class="">
            <a class="btn-icon btn-icon-46px link-secondary" href="#">
              <i class="mdi mdi-24px mdi-github"></i>
            </a>
          </li>
          <li class="">
            <a class="btn-icon btn-icon-46px link-secondary" href="#">
              <i class="mdi mdi-24px mdi-facebook"></i>
            </a>
          </li>
          <li class="">
            <a class="btn-icon btn-icon-46px link-secondary" href="#">
              <i class="mdi mdi-24px mdi-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
