{% extends 'base.html' %}
{% load i18n %}


{% block navbar %}
  {% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block breadcrumb %}
  <div class="py-3">
    <div class="container small">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          {% block breadcrumb-items %}{% endblock breadcrumb-items %}
        </ol>
      </nav>
    </div>
  </div>
{% endblock breadcrumb %}


{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock footer %}
