<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head_tags %}{% endblock %}
    {% block main_css %}{% endblock %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% block navbar %}{% endblock navbar %}
    {% block breadcrumb %}{% endblock breadcrumb %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    {% block main_js %}{% endblock %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
