{% load i18n %}
<section class="card-body">
  <h4>{% trans "Category" %}</h4>
  <div>
    {% if categories.count %}
      <ul>
        {% for category in categories %}
          <li><a href="{{ category.get_absolute_url }}">{{ category.name|title }} ({{ category.pages.count }})</a></li>  
        {% endfor %}
      </ul>
    {% else %}
      {% trans "No results!" %}
    {% endif %}
  </div>
</section>
